LAB2/zadanie 4/osoby.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="osoby">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="osoba" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="imie" type="xs:string"/>
              <xs:element name="nazwisko" type="xs:string"/>
              <xs:element name="plec">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="mężczyzna"/>
                    <xs:enumeration value="kobieta"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="wiek" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
